#title {
    .container-fluid-title {
        padding: 1% 10% 0;

        .rec-dec-1 {
            position: absolute;
            left: 24%;
            z-index: -1;
            top: 5%;
            scale: 92%;
        }

        .rec-dec-2 {
            position: absolute;
            left: 46%;
            z-index: -1;
            top: 37%;
            scale: 84%;
        }

        .nav-ten-years {
            line-height: 17px;
        }

        .ten-years-button {
            position: absolute;
            top: 43rem;
            left: 53%;
            z-index: 1;
            color: $primaryColor;
            background-color: white;
            border-color: white;
            font-size: 17px;
            font-weight: 600;

            .ten-years-button-in {
                color: $secundaryColor;
                font-size: 13px;
                font-weight: 400;
            }
        }


        div {

            .container-main-title {

                .title-main-text-h1 {
                    color: $primaryColor;
                    font-weight: 800;
                    font-size: 50px;
                    margin: 25% 0 0 0;
                }

                .text-secundary-color {
                    color: $secundaryColor;
                }

                .title-main-text-h5 {
                    color: $primaryColor;
                    line-height: 30px;
                }

                .icon-row {
                    padding: 1%;
                    font-size: 30px;
                    color: $primaryColor;
                    margin-top: 45%;

                    .icon-social-media {
                        margin: 0 1%;

                        &:hover {
                            color: $secundaryColor;
                        }
                    }
                }
            }

            .container-main-img {


                .tittle-img {
                    position: relative;
                    top: 4%;
                    z-index: -1;
                    right: 18%;
                }
            }

            .container-second-text {
                padding: 0 0 0 2%;

                .p-main-title {
                    padding: 10px 0 0;
                    line-height: 30px;
                    color: $primaryColor;
                    margin-top: 25%;
                    font-size: 23px;

                    .text-secundary-color {
                        color: $secundaryColor;
                    }
                }


                .p-main-title-p {
                    @extend .p-main-title;
                    margin: 12% 0 0;

                    .p-main-title-name {
                        font-family: $signatureFontFamily;
                        font-size: 35px;
                        padding: 10px 0 0;
                        color: black;
                    }

                }

                .hire-title-button {
                    margin: 10% 3% 5% 0;
                    border-color: map-get($map: $mainButtonSecundaryColor, $key: border-color);
                    background-color: map-get($map: $mainButtonSecundaryColor, $key: background-color);
                    border-radius: map-get($map: $mainButtonSecundaryColor, $key: border-radius);
                    box-shadow: map-get($map: $mainButtonSecundaryColor, $key: box-shadow);
                    width: 150px;

                    &:hover {
                        background-color: $secundaryColorCC;
                        border-color: $secundaryColorCC;
                    }
                }

            }
        }
    }
}

#aboutMe {
    .container-fluid-aboutMe {
        border-radius: 60px 60px 0px 0px;
        background: linear-gradient(180deg, #30475E 26%, rgba(48, 71, 94, 0.85) 55.13%, rgba(255, 255, 255, 0.87) 83.37%);

        .col-container-about {
            margin: 0;

            div {
                .container-aboutMe-sec-about {
                    text-align: center;
                    color: white;
                    padding: 30px 10%;

                    .h2-title {
                        font-size: 24px;
                        font-weight: 800;
                        margin: 0 0 30px 0;
                    }

                    .h3-title {
                        font-size: 19px;
                        font-weight: 600;
                        margin: 0 0 30px 0;
                    }

                    .p-about-text {
                        font-size: 18px;
                        margin: 0 0 30px 0;
                        font-weight: 100;
                    }

                    div {
                        .div-alig-right {
                            text-align: right;

                            .hire-title-button {
                                margin: 1% 3% 5% 0;
                                border-color: map-get($map: $mainButtonSecundaryColor, $key: border-color);
                                background-color: map-get($map: $mainButtonSecundaryColor, $key: background-color);
                                border-radius: map-get($map: $mainButtonSecundaryColor, $key: border-radius);
                                box-shadow: map-get($map: $mainButtonSecundaryColor, $key: box-shadow);
                                width: 195px;

                                &:hover {
                                    background-color: $secundaryColorCC;
                                    border-color: $secundaryColorCC;
                                }
                            }
                        }

                        .div-alig-left {
                            text-align: left;

                            .know-title-button {
                                margin: 1% 3% 5% 0;
                                border-color: map-get($map: $mainButtonSecundaryColor, $key: border-color);
                                border-radius: map-get($map: $mainButtonSecundaryColor, $key: border-radius);
                                box-shadow: map-get($map: $mainButtonSecundaryColor, $key: box-shadow);
                                width: 195px;
                                color: map-get($map: $secButtonSecundaryColor, $key: color);
                                background-color: white;

                                &:hover {
                                    border-color: $secundaryColorCC;
                                    color: $secundaryColorCC;
                                    background-color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
        .col-container-about-num{
            margin: 0;
            padding: 1% 25%;
            text-align: left;
        }

    }
}

@media (max-width:1000px) {

    #title {
        .container-fluid-title {
            .rec-dec-1 {
                left: 1%;
                top: 34%;
                width: 68%;
            }

            .rec-dec-2 {
                left: 46%;
                top: 51%;
                width: 53%;
            }

            .ten-years-button {
                top: 90%;
                left: 51%;
            }

            div {
                .container-main-title {

                    .title-main-text-h1 {
                        margin: 30px 0 0 0;
                    }

                    .icon-row {
                        margin-top: 5%;

                    }
                }

                .container-main-img {
                    .tittle-img {
                        position: relative;
                        left: 0%;
                        width: 90%;
                    }
                }

                .container-second-text {

                    .p-main-title {
                        margin-top: 30px;

                    }
                }
            }
        }
    }

    #aboutMe {
        .container-fluid-aboutMe {
            .col-container-about {
                div {
                    .container-aboutMe-sec-about {
                        div {
                            .div-alig-right {
                                text-align: center;
                            }

                            .div-alig-left {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }

}